apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: chatapp 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: abdulmanan46/k8s-chat-app-backend:latest
        ports:
        - containerPort: 5001
