apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: chatapp 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: abdulmanan46/k8s-chat-app-backend:latest
        ports:
        - containerPort: 5001
        env:
        - name: MONGO_URI
          value: "mongodb://root:admin@mongodb:27017/chatApp?authSource=admin"
        - name: PORT
          value: "5001"
        - name: NODE_ENV
          value: "production"
        - name: JWT_SECRET
          valueFrom: 
            secretKeyRef:
              name: secrets
              key: jwt-secret